<% include ../partials/header %>

<div class="container">
  <div class="row">
    <a href="/votes"><button class='btn btn-default'><span> All Votes </span></button></a>
    <a href="/user"> <button class='btn btn-default'><span>Votes by: <%- user.username[0].toUpperCase() + user.username.slice(1) %> </span></button></a>
    <div class="header">
      <h1>Votes created by: <%= user.username[0].toUpperCase() + user.username.slice(1) %></h1>
      <a href="/votes/new"><button class="btn btn-success form-control">Create New Poll</button></a>
      <hr>
    </div>
    <% voting.map(d=>{  %>
    <div class="panel panel-default">
      <div class="panel-body">
        Title: <%= d.options.title %>  - <em>Created by <strong><%= d.user[0].toUpperCase() + d.user.slice(1)  %></strong> on - <%= d.options.created.toLocaleString() %></em>

          <a href="/votes/<%= d._id %>/delete"><button class='pull-right btn btn-danger'>Delete</button></a>
          <a href="/votes/<%= d._id %>"><button class='pull-right btn btn-primary'>Vote</button></a>

      </div>
    </div>
    <%  }) %>
  </div>
</div>
